*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100vw;
    padding-top: 12px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(265deg, #203C86 46.03%, #203C86 53.97%);   
    padding-bottom: 12px;
    gap: 12px;
}
.header-principal{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}
.header-principal a{
    color: var(--Neve-Dark, #EFF2F7);
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.header-principal .links{
   display: flex;
    gap: 43px;
}
.redes h4{
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.redes{
    display: flex;
    gap: 53px;
    width: 80vw;
    justify-content: flex-end;
}
.icones{
    display: flex;
    gap: 20px;
}
.linha{
    width: 100vw;
    height: 1px;
    opacity: 0.2;
    background: #FFF;
}



